<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmgun.mapper.ActHistoryMapper">

    <resultMap id="HistoricTaskInstance" type="org.activiti.engine.impl.persistence.entity.HistoricTaskInstanceEntityImpl">
        <result column="ID_" property="id" />
        <result column="PROC_DEF_ID_" property="processDefinitionId" />
        <result column="TASK_DEF_KEY_" property="taskDefinitionKey" />
        <result column="PROC_INST_ID_" property="processInstanceId" />
        <result column="EXECUTION_ID_" property="executionId" />
        <result column="NAME_" property="name" />
        <result column="PARENT_TASK_ID_" property="parentTaskId" />
        <result column="DESCRIPTION_" property="description" />
        <result column="OWNER_" property="owner" />
        <result column="ASSIGNEE_" property="assignee" />
        <result column="START_TIME_" property="startTime" />
        <result column="CLAIM_TIME_" property="claimTime" />
        <result column="END_TIME_" property="endTime" />
        <result column="DURATION_" property="durationInMillis" />
        <result column="DELETE_REASON_" property="deleteReason" />
        <result column="PRIORITY_" property="priority" />
        <result column="DUE_DATE_" property="dueDate" />
        <result column="FORM_KEY_" property="formKey" />
        <result column="CATEGORY_" property="category" />
        <result column="TENANT_ID_" property="tenantId" />
    </resultMap>


    <select id="queryByCandidateGroup" resultMap="HistoricTaskInstance">
        SELECT DISTINCT
        RES.*
        <include refid="queryByCandidateGroupSql"/>
    </select>

    <select id="queryByCandidateGroupByPage" resultMap="HistoricTaskInstance">
        SELECT DISTINCT
        RES.*
        <include refid="queryByCandidateGroupSql"/>
        LIMIT ${pageSize} OFFSET ${firstRow}
    </select>

    <select id="countByCandidateGroup" resultType="java.lang.Long">
        SELECT count(1)
        <include refid="queryByCandidateGroupSql"/>
    </select>

    <sql id="queryByCandidateGroupSql">
        FROM
        ACT_HI_TASKINST RES
        <if test="param.procCategory != null and param.procCategory != ''">
            INNER JOIN ACT_RE_PROCDEF PROCDEF ON PROCDEF.ID_ = RES.PROC_DEF_ID_
        </if>
        INNER JOIN ACT_HI_IDENTITYLINK HI ON HI.TASK_ID_ = RES.ID_
        WHERE
        HI.TYPE_ = 'candidate'
        AND HI.GROUP_ID_ IN
        <foreach collection="param.candidateGroup" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="param.completeTask == true">
            AND RES.END_TIME_ IS NOT NULL
        </if>
        <if test="param.completeTask == false">
            AND RES.END_TIME_ IS NULL
        </if>
        <if test="param.taskId != null and param.taskId != ''">
            AND RES.ID_ = #{param.taskId}
        </if>
        <if test="param.procCategory != null and param.procCategory != ''">
            AND PROCDEF.CATEGORY_ = #{param.procCategory}
        </if>
        <if test="param.taskDefId != null and param.taskDefId != ''">
            AND RES.TASK_DEF_KEY_ = #{param.taskDefId}
        </if>
        <if test="param.category != null and param.category != ''">
            AND RES.CATEGORY_ = #{param.category}
        </if>
        <if test="param.taskCreateTimeBegin != null">
            AND RES.START_TIME_ <![CDATA[ >= ]]> #{param.taskCreateTimeBegin}
        </if>
        <if test="param.taskCreateTimeEnd != null">
            AND RES.START_TIME_ <![CDATA[ <= ]]> #{param.taskCreateTimeEnd}
        </if>
        ORDER BY
        RES.END_TIME_ DESC
    </sql>

    <select id="queryLastTask" resultMap="HistoricTaskInstance">
        SELECT DISTINCT
        RES.*
        FROM
        ACT_HI_TASKINST RES
        WHERE
        RES.PROC_INST_ID_ = #{processInstanceId}
        AND RES.ID_ <![CDATA[ < ]]> #{currentTaskId}
        ORDER BY
        RES.ID_ DESC LIMIT 1
    </select>
</mapper>